$headings-margin-bottom: 0.75em;

@import "bootstrap/scss/bootstrap";

html, body, #root {
	height: 100%;
}

#App {
	min-height: 100vh;
}

.wide-pagination {
  width: 80%;
  justify-content: space-between;
}

.image-ratio {
  aspect-ratio: 2 / 2;
  width: 100%;
  object-fit: cover;
  object-position: 50% 30%;
}


.card-body-relative {
  position: relative;
}

.card-button-bottom-right {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}


@font-face {
	font-family: 'StarJedi';
	src: url('/src/assets/fonts/SF Distant Galaxy Alternate.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Inter', sans-serif;
}

.starwars-font {
	font-family: 'StarJedi', sans-serif;
	color: rgb(134, 134, 79)
}

.home-link {
	font-family: 'StarJedi', sans-serif;
	color: rgb(134, 134, 79);
	text-decoration: none;

  &:hover,
  &:focus {
	color: rgb(134, 134, 79);
	text-decoration: none;
	}
}

.discreet-link {
	color: inherit;
	text-decoration: none;

	&:hover,
	&:focus {
		color: inherit;
		text-decoration: none;
		}
}

.underscore-link:hover {
	text-decoration: underline;
	font-size: 105%;
}

.hover-grow-effect {
	transition: transform 0.3s ease, box-shadow 0.3s ease;

	&:hover {
		transform: scale(1.01);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	}
}



.shadow-lightsaber-blue-hover {
	box-shadow: 0 4px 8px rgba(0, 191, 255, 0.4);
	transition: box-shadow 0.3s ease, filter 0.3s ease;

	&:hover {
		box-shadow: 0 4px 8px rgba(0, 191, 255, 0.205);
		filter: drop-shadow(0 0 5px rgba(0, 191, 255, 0.7));
	}
}

.shadow-lightsaber-blue {
	box-shadow: 0 4px 8px rgba(0, 191, 255, 0.4);
	transition: box-shadow 0.3s ease, filter 0.3s ease;
}

.search-bar {
	input {
		
		box-shadow: 0 0 5px rgba(147, 201, 219, 0.5);
		transition: box-shadow 0.3s ease, border-color 0.3s ease;

		&:focus {
			border-color: rgba(169, 222, 240, 0.9);
			box-shadow: 0 0 10px rgba(0, 191, 255, 0.8);
			outline: none;
		}
	}

	button {
		box-shadow: 0 0 5px rgba(147, 201, 219, 0.5);
		transition: box-shadow 0.3s ease;

		&:hover {
			box-shadow: 0 0 10px rgba(0, 191, 255, 0.6);
			background-color: azure;
		}
	}
}

.min-height-400 {
	min-height: 400px;
}


#bb8-spinner-wrapper {
	position: fixed;
	right: 3rem;
	z-index: 9999;

	#bb8-spinner {
		width: 60px;
		height: auto;
	}
}
