$headings-margin-bottom: 0.75em;

@import "bootstrap/scss/bootstrap";

#App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

@font-face {
	font-family: 'StarJedi';
	src: url('/src/assets/fonts/SF Distant Galaxy Alternate.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Inter', sans-serif;
}

.starwars-font {
	font-family: 'StarJedi', sans-serif;
	color: rgb(134, 134, 79)
}

.home-link {
	font-family: 'StarJedi', sans-serif;
	color: rgb(134, 134, 79);
	text-decoration: none;

  &:hover,
  &:focus {
	color: rgb(134, 134, 79);
	text-decoration: none;
	}
}

.discreet-link {
	color: inherit;
	text-decoration: none;

	&:hover,
	&:focus {
		color: inherit;
		text-decoration: none;
		}
}

.github-link {
	font-size: 150%;
	color: inherit;
	text-decoration: none;
	transition: color 0.3s ease;

	&:hover {
		color: rgb(204, 91, 46);
	}
	
}

.underscore-link:hover {
	text-decoration: underline;
	font-size: 105%;
}

.wide-pagination {
  width: 80%;
  justify-content: space-between;
}

.image-ratio {
  aspect-ratio: 2 / 2;
  width: 100%;
  object-fit: cover;
  object-position: 50% 30%;
}

.card-body-relative {
  position: relative;
}

.card-button-bottom-right {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.card-glass {
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
	border: 1px solid rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	border-radius: 0.5rem;
	transition: transform 0.2s ease, box-shadow 0.2s ease;

	&:hover {
		transform: scale(1.02);
		box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
	}

	[data-bs-theme="light"] & {
		background: linear-gradient(135deg, rgba(255, 255, 255, 0.808), rgba(185, 185, 185, 0.4));
		border: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

		&:hover {
			box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
		}
	}

	[data-bs-theme="dark"] & {
		background: linear-gradient(135deg, rgba(68, 68, 68, 0.6), rgba(17, 17, 17, 0.4));
		border: 1px solid rgba(255, 255, 255, 0.1);
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);

		&:hover {
			box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
		}
	}
}

.hover-grow-effect {
	transition: transform 0.3s ease, box-shadow 0.3s ease;

	&:hover {
		transform: scale(1.01);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	}
}

.shadow-lightsaber-theme-sensitive-hover {
	transition: box-shadow 0.3s ease, filter 0.3s ease;

	[data-bs-theme="light"] & {
		box-shadow: 0 4px 8px rgba(0, 191, 255, 0.4);

		&:hover {
			box-shadow: 0 4px 8px rgba(0, 191, 255, 0.205);
			filter: drop-shadow(0 0 5px rgba(0, 191, 255, 0.7));
		}
	}

	[data-bs-theme="dark"] & {
		box-shadow: 0 4px 8px rgba(255, 0, 0, 0.4);

		&:hover {
			box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2);
			filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.6));
		}
	}
}

.shadow-lightsaber-theme-sensitive {
	transition: box-shadow 0.3s ease, filter 0.3s ease;

	[data-bs-theme="light"] & {
		box-shadow: 0 4px 8px rgba(0, 191, 255, 0.4);
	}

	[data-bs-theme="dark"] & {
		box-shadow: 0 4px 8px rgba(255, 0, 0, 0.4);
	}
}


.search-bar-theme-sensitive {
	input {
		transition: box-shadow 0.3s ease, border-color 0.3s ease;

		[data-bs-theme="light"] & {
			box-shadow: 0 0 5px rgba(0, 191, 255, 0.4);

			&:focus {
				border-color: rgba(169, 222, 240, 0.9);
				box-shadow: 0 0 10px rgba(0, 191, 255, 0.8);
			}
		}

		[data-bs-theme="dark"] & {
			box-shadow: 0 0 5px rgba(255, 0, 0, 0.4);

			&:focus {
				border-color: rgba(255, 100, 100, 0.8);
				box-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
			}
		}
	}

	button {
		transition: box-shadow 0.3s ease;

		[data-bs-theme="light"] & {
			box-shadow: 0 0 5px rgba(147, 201, 219, 0.5);

			&:hover {
				box-shadow: 0 0 10px rgba(0, 191, 255, 0.6);
				background-color: azure;
				border-color: rgba(169, 222, 240, 0.9);
			}
		}

		[data-bs-theme="dark"] & {
			box-shadow: 0 0 5px rgba(255, 0, 0, 0.4);

			&:hover {
				box-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
				background-color: #fae4e4;
				border-color: rgba(255, 100, 100, 0.8);
			}
		}
	}
}

.min-height-400 {
	min-height: 400px;
}


#bb8-spinner-wrapper {
	position: fixed;
	right: 3rem;
	z-index: 1;

	#bb8-spinner {
		width: 60px;
		height: auto;
	}
}

.hidden-background {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	font-size: 170%;
}

.navbar-metal {
	background: #f0f0f0;
	background: linear-gradient(180deg,rgba(240, 240, 240, 1) 0%, rgba(158, 158, 158, 1) 89%, rgba(135, 134, 134, 1) 94%, rgba(181, 181, 181, 1) 98%);

	[data-bs-theme="light"] & {
		box-shadow: 0 2px 4px rgba(63, 63, 63, 0.6);
	}

}

.round-icon-button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border-width: thin;
	border-color: white;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.808), rgba(141, 141, 141, 0.4));
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 0;
	box-shadow: 0 0 8px rgba(49, 49, 49, 0.5);
}

.icon-shadow-mode-dark {
	filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.8));
}

.icon-shadow-mode-light {
	filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.8));
	color: rgb(245, 245, 245)
}

.text-shadow-mode-dark {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.text-shadow-mode-light {
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.6);
}

.video-floating {
	position: relative;
	border-radius: 1rem;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	max-width: 500px;

	[data-bs-theme="light"] & {
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7), 0 10px 30px rgba(0, 0, 0, 0.2);
		border-color: #222;
	}

	[data-bs-theme="dark"] & {
		box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
		border-color: #222;
	}

}

.video-still {
	position: absolute;
	inset: 0;
	z-index: 2;
	object-fit: cover;
	width: 100%;
	height: 100%;

	opacity: 0;
	transition: opacity 1s ease-in;
	pointer-events: none;
}

.video-still.fade-in {
	opacity: 1;
}

.star-wars-intro {
	position: relative;
	perspective: 400px;
	overflow: hidden;
	height: 300px;
}


.star-wars-intro-text {
	width: 100%;
	transform: rotateX(25deg);
	transform-origin: bottom center;
	animation: crawl 75s linear forwards;
	color: rgb(160, 160, 73);
	font-family: 'StarJedi', sans-serif;
	text-align: center;
	padding: 0 1rem;

	@media (max-width: 768px) {
		transform: none;
		animation: crawl-small 60s linear forwards;
	}
}

@keyframes crawl {
	0% {
		transform: rotateX(25deg) translateY(50%);
		opacity: 1;
	}
	100% {
		transform: rotateX(25deg) translateY(-300%);
		opacity: 0;
	}
}

@keyframes crawl-small {
	0% {
		transform: rotateX(8deg) translateY(40%);
		opacity: 1;
	}
	100% {
		transform: rotateX(8deg) translateY(-300%);
		opacity: 0;
	}
}

.accordion-button {
	box-shadow: none;

	&:focus {
		box-shadow: 0 0 0 0.25rem rgba(200, 200, 200, 0.3);
	}

	&::after {
		[data-bs-theme="light"] & {
			filter: brightness(0) contrast(100);
		}

		[data-bs-theme="dark"] & {
			filter: brightness(0) invert(1);
		}
	}

	&:not(.collapsed) {
		[data-bs-theme="light"] & {
			background-color: #f0f0f0;
			color: black;
		}

		[data-bs-theme="dark"] & {
			background-color: #222;
			color: white;
		}
	}
}

.fancy-divider {
	height: 1px;
	background-color: rgba(190, 190, 190, 0.726);
	
	margin: 2rem auto;
	width: 80%;

	transition: box-shadow 0.3s ease, filter 0.3s ease;

	[data-bs-theme="light"] & {
		box-shadow: 0 4px 8px rgba(0, 191, 255, 0.8);
	}

	[data-bs-theme="dark"] & {
		box-shadow: 0px 4px 8px rgba(255, 0, 0, 0.8);
	}
}

